FORMAT: 1A
HOST: http://graph.hypejunction.com/services/api/graph


# hypeGraph


## About

RESTful API Graph and Web Services for Elgg by hypeJunction.

### Features

* RESTful secure graph access
* Admin interface for managing API consumers
* Granular access controls for API resources on per-consumer basis

### Requirements

* Requires PHP 5.5
* Requires hypeApps (https://github.com/hypeJunction/hypeApps)

### Acknowledgements

* Some of the classes are based on the core web services plugin, but have been heavily
refactored to suit the needs of this plugin. Nevertheless, thanks go to the original authors.

* The approach has been inspired by Evan Winslow, and his multiple posts on the subject.
I am not entirely sure if he likes the actual implementation, but some of his ideas have been
incorporated, so thanks.

* Thanks go to PlayAtMe, Bodyology School of Massage, and Ambercase, for partially
sponsoring various elements of the plugin.





## Authentication

You can configure which authentication methods are allowed on your site.

**Note** that calling Graph endpoints will terminate current user sessions.
Graph endpoints can be accessed directly by JS clients and browser via ```/graph``` (instead of
```/services/api/graph```) pagehandler with CSRF (Elgg action) tokens.

Whatever API authentication methods you choose, make sure that the graph endpoints **are served over HTTPs**.

### API Authentication

#### API Key

You can authenticate your API requests with an API key. API key can be supplied as an ```api_key``` URI query
parameter, or as an ```X-Elgg-Apikey``` request header.

#### HMAC Signature

API requests can also be signed with HMAC using API secret. See the code for implementation details.

### User Authentication

#### Username and password

Though highly discouraged, you can add username and password to each request to authenticate the user.
This authentication method is handled by the core userpass PAM.

#### Access Token

You can acquire a user token at the ```POST /me/token``` endpoint. You will need to provide a username and password
pair in order to receive a token in response. The tokens are valid for 60 minutes.

You can use ```POST `/:user/token``` endpoint to acquire a token to perform actions on behalf of a user
that you can manage (```ElggUser::canEdit()``` permission is required). As an authenticated admin user,
you can get an access token for any user in the system, and perform actions on their behalf.

You can exchange a user token for long-living one (30 days), using ```PUT /:user/token``` endpoint.

#### API Consumer username and password

You can set up your API Consumers with custom usernames and passwords, which they can use to authenticate as
the user, who owns the API Consumer entity. This is helpful, when you don't want to pass around actual
user credentials (and inconvenience users with frequent password resets).





## Endpoints

To access the graph you can use one of the following endpoints:

* Using an API client: ```https://{{site-url}}/services/api/graph/{{node}}/{{edge}}?api_key={{api-key}}```,
* Using a JS client: ```https://{{site-url}}/graph/{{node}}/{{edge}}?__elgg_ts={{elgg_ts}}&__elgg_token={{elgg_token}}```,

where
 - ```{{site-url}}``` is your Elgg site URL
 - ```{{node}}``` is an ID of a node, e.g. uid of a resource
 - ```{{edge}}``` is the edge of a node, e.g. friends
 - ```{{api-key}}``` is the API key assigned to your client
 - ```{{elgg_ts}}``` and ```{{elgg_token}} are CSRF token elements (for non GET requests)

Unlike RPC services, you can not pass ```{{format}}```.
Use HTTP ```Accept``` header to specify the ```Content-Type``` you would like to consume, e.g.

```Accept: application/json```





## Nodes and Edges

Routes are represented with nodes and edges, where as a node is an Elgg entity,
metadata, annotation, river item, or relationship, and an edge is an alias for a subset of resources.

For example, ```POST /me/activity``` route allows the consumer to create a new
river item on behalf of the currently authenticated user, while ```GET /ge25/members```
retrieves a list of members in a group.

Note that the graph does not encourage the use of Elgg ```guid```s, instead it uses ```uid```s,
which are strings comprising of a prefix and a numeric id.

UIDs are mapped as follows:

* ```ElggUser``` node uid is prefixed with ```ue```, e.g. ```ue2521```
* ```ElggObject``` node uid is prefixed with ```oe```, e.g. ```oe2758```
* ```ElggGroup``` node uid is prefixed with ```ge```, e.g. ```ge2737```
* ```ElggSite``` node uid is prefixed with ```se```, e.g. ```se1```
* ```ElggRiverItem``` node uid is prefixed with ```rv```, e.g. ```rv3738```
* ```ElggAnnotation``` node uid is prefixed with ```an```, e.g. ```an7789```
* ```ElggMetadata``` node uid is prefixed with ```md```, e.g. ```md74839```
* ```ElggRelationship``` node uid is prefixed with ```rl```, e.g. ```rl4657```

Integer UIDs fallback to entity guids. Usernames can also be used as UIDs,
e.g. for a logged in user with username ```UserWithUsername``` and guid ```2521```
the following are identical calls:

   * `/me/friends`
   * `/ue2521/friends`
   * `/2521/friends`
   * `/UserWithUsername/friends`

You can map your routes to controllers that implement ```\hypeJunction\Graph\ControllerInterface``` interface.

To see a full list of routes, visit *API Endpoints* section in the site's admin area.

Entity types need to be exposed explicitly by providing an alias.

```php

        // Closures are used for illustration. Don't do that in your plugins, use a defined callable

        elgg_register_plugin_hook_handler('aliases', 'graph', function($hook, $type, $return) {
            $return['object']['my_cool_subtype'] = ':my_cool_subtype';
            return $return;
        });

        elgg_register_plugin_hook_handler('routes', 'graph', function($hook, $type, $return) {
            $return[':my_cool_subtype'] = MyCoolSubtypeController::class;
            $return[':user/coolness'] = UserCoolnessController::class;
        });
```

Your controllers should define the parameters expected and the business logic for each HTTP request method.






## Response

### Format

Responses will be sent with an appropriate HTTP header and will contain a body in the following format:

```json
       {
           'status': 200,
           'message': 'OK',
           'result' : {
                'key': 'value'
            }
        }
```

```json
        {
            'status': 404,
            'message': 'Requested resource was not found',
            'result' : [],
            'log': []
        }
```

To receive information about runtime errors, you can add ```?debug=true``` to your request.
This will add a ```log``` object to the response.

For initial testing and debugging, you can enable debug mode in plugin settings.
This will add additional data to the response, such as request and query parameters,
currently logged in user and API consumer, exception trace etc.

### Error Codes

Graph may return one of the following error codes:

* ```400 Bad Request``` - Request does not contain required information, or provided data does not allow to successfully process data
* ```401 Unauthorized``` - Provided API and/or User Authentication credentials are invalid
* ```403 Forbidden``` - Authenticated API consumer and/or user are not allowed to the access the endpoint, or they lack priviliges to modify entities
* ```404 Not Found``` - Endpoint does not exist and/or entity does not exist or node's ACL does not allow it to be accessed by the authenticated user
* ```405 Method Not Allowed``` - Endpoint can not be accessed using given HTTP request method
* ```500 Internal Server Error``` - Something went completely wrong on the server


### Resource export fields

You have full control over what fields are exported for any given resource type (in any particular consumer context or user context).

* ```'fields','graph'``` plugin hook handler can be used to define exportable fields
This hook receives ```'node'``` parameter, which can be either an entity, annotation, metadata, relationship or river item

* ```'to:object',$type``` plugin hook can be used to filter the output of a given resource
This is a core hook, triggered by ```ElggEntity::toObject()```, so make sure you sniff the context before overriding the output

* ```'result','graph'``` plugin hook can be used to filter the final result before it is sent to the requestor
This hook received ```GenericResult``` instance as the return value.

* To prevent access to a certain node or an endpoint, you can use ```'permissions_check:graph',$route``` hook, which receives
a node as a parameter.





## Magic

### Magic nodes

* ```/me``` nodes resolve to ```/:user``` nodes with the currently authenticated user uid
* ```/site``` nodes resolve to ```/:site``` nodes for the current site


### Magic query parameters

* ```?debug=true``` will append a log of runtime errors to the response
* ```?fields=uid,name,owner``` will constrain resource export to only those fields. If fields are not defined as allowed for that resource type, they will return ```null```





## Batch Results

### Sorting

Batch results can be sorted by a number of fields. You can pass ```sort``` parameter with your query, that can take in multiple field => direction definitions
Results can be sorted by ```alpha``` (alphabetically according to name/title) or by any attribute field from the entities table (e.g. ```uid```, ```subtype``` etc)

```php

        $test = new Client($api_key);
        $url = $test->buildGraphUrl('/site/groups');
        $result = $test->get($url, array(
            'sort' => array(
                'alpha' => 'ASC',
                'time_created' => 'DESC',
            ),
            'fields' => 'uid,name',
            'limit' => 5,
            'offset' => 15,
        ));

```

### Response Format

Request above will output something similar to this:

```json
        {
          "status": 200,
          "message": "OK"
          "result": {
            "total": 69,
            "limit": 5,
            "offset": 15,
            "nodes": {
              "15": {
                "uid": "ge7210",
                "name": "Enim voluptatem nisi veniam deserunt et."
              },
              "16": {
                "uid": "ge7199",
                "name": "Eos qui minima aperiam."
              },
              "17": {
                "uid": "ge7202",
                "name": "Eos quidem dolorem cum voluptas quis quo."
              },
              "18": {
                "uid": "ge7208",
                "name": "Et qui iste quo molestiae sit veritatis."
              },
              "19": {
                "uid": "ge7204",
                "name": "Explicabo ullam saepe debitis qui."
              }
            }
          }
        }
```





## File Uploads

Exercise caution with allowing file uploads via the Graph. Only allow uploads by trusted
consumers, otherwise you are opening up a security vulnerability.





## Group Root

### 200 [/{_200}]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK"
            "result": true
        }

### 400 [/{_400}]

+ Model (application/json)

        {
            "status": 400,
            "message": "Bad request - Action can not be completed with given parameters"
            "result": null
        }

### 401 [/{_401}]

+ Model (application/json)

        {
            "status": 401,
            "message": "Unauthorized - API or User authenticated failed"
            "result": null
        }

### 403 [/{_403}]

+ Model (application/json)

        {
            "status": 403,
            "message": "Forbidden - You do not have sufficient privileges to access this endpoint or you are trying to modify an entity that you do not have acess to"
            "result": null
        }

### 404 [/{_404}]

+ Model (application/json)

        {
            "status": 404,
            "message": "Not found - Node does not exist or you do not have permissions to access it"
            "result": null
        }

### 405 [/{_405}]

+ Model (application/json)

        {
            "status": 405,
            "message": "Method not allowed - Endpoint can not be requested with this HTTP method"
            "result": null
        }

### 500 [/{_500}]

+ Model (application/json)

        {
            "status": 500,
            "message": "Internal Server Error"
            "result": null
        }





### Graph Root [/]

### List all endpoints [GET /]

Retrieve a list of all resource endpoints available through the Graph API

+ Response 200 (application/json)

        {
            "status": 200,
            "message": "OK",
            "result": [
                {
                    "method": ":site",
                    "call_method": "GET",
                    "endpoint": "GET /:site",
                    "description": "Returns site entity attritubes and basic configuration values"
                },
                {
                    "method": ":site/users",
                    "call_method": "GET",
                    "endpoint": "GET /:site/users",
                    "description": "Returns a list of users registered on the site",
                    "parameters": {
                        {
                            "name": "limit",
                            "description": "Number of entries to return (max 50)",
                            "type": "integer",
                            "default": 10
                        },
                        {
                            "name": "offset",
                            "description": "Offset from the start of the list",
                            "type": "integer"
                        },
                        {
                            "name": "sort",
                            "description": "Sorting order",
                            "type": "array",
                            "default": {
                                "time_created": "DESC"
                            }
                        }
                    }
                },
            ]
        }

+ Response 400
    [400][]

+ Response 401
    [401][]

+ Response 403
    [403][]

+ Response 404
    [404][]

+ Response 405
    [405][]

+ Response 500
    [404][]






### Group Access Tokens



### Access Token [/{user_uid}/token]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK",
            "result": {
                "token": "42349f20b1ced62333b218a92d3465a2",
                "expires": "2015-07-21T04:34:31-07:00",
                "user": {
                    "uid": "ue87"
                }
            }
        }



### Create a new token [POST /{user_uid}/token

Create a new user access token

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```

+ Response 200
    [Access Token][]



### Exchange a token [PUT /{user_uid}/token{?auth_token}]

Exchange a short-living token for a long-living one

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + auth_token (string, required) - Token to delete

+ Response 200
    [Access Token][]



### Delete a token [DELETE /{user_uid}/token{?auth_token}]

Delete a token

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + auth_token (string, required) - Token to delete

+ Response 200
    [200][]





### Group Site



### Site Node [/{site_uid}]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK"
            "result": {
                "total": 1,
                "limit": 0,
                "offset": 0,
                "nodes": {
                    "0": {
                        "type": "site",
                        "subtype": "",
                        "uid": "se1",
                        "name": "Site Name",
                        "description": "Site description",
                        "url": "http://example.com/",
                        "email": "admin@example.com",
                        "allow_registration": true,
                        "default_access": "1",
                        "debug": null,
                        "walled_garden": true,
                        "time_created": "2014-11-14T03:46:59-08:00",
                        "enabled": "yes"
                    }
                }
            }
        }



### Retrieve a site node [GET /{site_uid}]

Retrieve a site node by its *uid*

+ Parameters
    + site_uid:`site` (string, required) - Site UID or ```site``` keyword

+ Response 200
    [Site Node][]



### Group Activity Feeds

### Activity [/{river_uid}]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK",
            "result": {
                "total": 1,
                "limit": 0,
                "offset": 0,
                "nodes": {
                    "0": {
                        "type": "river",
                        "subtype": "item",
                        "uid": "rv280",
                        "action": "stream:comment",
                        "subject": {
                            "type": "user",
                            "subtype": "",
                            "uid": "ue58",
                            "name": "Devon Ratke",
                            "username": "rodriguez.adolphus",
                            "briefdescription": "Centralized full-range service-desk",
                            "banned": false,
                            "validated": "1",
                            "admin": false,
                            "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                            "icon": {
                                "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                            },
                            "time_created": "2014-11-14T06:39:47-08:00",
                            "enabled": "yes"
                        },
                        "object": {
                            "type": "object",
                            "subtype": "comment",
                            "uid": "oe1300",
                            "title": null,
                            "description": "Comment 10",
                            "url": "http:\/\/ambercal.dev\/stream\/comments\/859\/1300#elgg-object-1300",
                            "icon": {
                                "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                            },
                            "owner": {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue58",
                                "name": "Devon Ratke",
                                "username": "rodriguez.adolphus",
                                "briefdescription": "Centralized full-range service-desk",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                                "icon": {
                                    "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                    "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                    "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                    "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                    "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                    "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                                },
                                "time_created": "2014-11-14T06:39:47-08:00",
                                "enabled": "yes"
                            },
                            "container": {
                                "type": "object",
                                "subtype": "blog",
                                "uid": "oe859",
                                "title": "Blog 21",
                                "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget aliquet mi. Sed pulvinar lectus vel suscipit faucibus. Mauris id metus augue. Ut faucibus lectus non mattis egestas. Nulla ullamcorper pulvinar purus, at faucibus quam porttitor sit amet. Donec consectetur, nulla eget fringilla dapibus, velit diam euismod enim, ut tincidunt lectus eros eget magna. Mauris laoreet risus dolor, in imperdiet dolor tincidunt et. Ut nulla nibh, condimentum in diam vel, volutpat accumsan justo. Proin interdum mattis ex quis consequat. Proin dignissim, dolor vel faucibus sagittis, diam tellus mattis felis, eget blandit dui arcu eu nisl. Mauris sodales iaculis lacinia. Nam rutrum nisi ante, a scelerisque nunc imperdiet a. Praesent rhoncus pretium malesuada. Proin id aliquam sem. Phasellus malesuada arcu justo, nec cursus lorem lacinia vel. Phasellus congue vestibulum justo, sed egestas orci malesuada a. Nam mollis nisl id ligula imperdiet, vitae mollis tellus aliquam. Donec venenatis, eros nec ullamcorper commodo, est lacus ornare dolor, eu congue massa quam eu nisl. Aliquam quis purus ac diam elementum bibendum. Vestibulum dolor enim, laoreet eget orci sed, venenatis aliquet leo. Donec eleifend diam eu odio placerat semper. Morbi a purus nisi. Sed sit amet placerat lacus. Pellentesque fermentum magna quis felis accumsan condimentum. Duis varius et velit ut elementum. Cras rhoncus volutpat rhoncus. Pellentesque porttitor, arcu vitae pharetra luctus, sapien elit rhoncus neque, eget mollis tellus lacus nec lacus. Donec imperdiet a quam quis pellentesque. Maecenas in viverra nisl. Pellentesque tempus elit sed justo ultrices commodo.<\/p>",
                                "url": "http:\/\/ambercal.dev\/blog\/view\/859\/blog-21",
                                "icon": {
                                    "topbar": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/topbar.png",
                                    "tiny": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/tiny.png",
                                    "small": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/small.png",
                                    "medium": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/medium.png",
                                    "large": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/large.png",
                                    "master": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/master.png"
                                },
                                "owner": {
                                    "type": "user",
                                    "subtype": "",
                                    "uid": "ue58",
                                    "name": "Devon Ratke",
                                    "username": "rodriguez.adolphus",
                                    "briefdescription": "Centralized full-range service-desk",
                                    "banned": false,
                                    "validated": "1",
                                    "admin": false,
                                    "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                                    "icon": {
                                        "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                        "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                        "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                        "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                        "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                        "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                                    },
                                    "time_created": "2014-11-14T06:39:47-08:00",
                                    "enabled": "yes"
                                },
                                "container": {
                                    "type": "user",
                                    "subtype": "",
                                    "uid": "ue58",
                                    "name": "Devon Ratke",
                                    "username": "rodriguez.adolphus",
                                    "briefdescription": "Centralized full-range service-desk",
                                    "banned": false,
                                    "validated": "1",
                                    "admin": false,
                                    "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                                    "icon": {
                                        "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                        "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                        "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                        "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                        "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                        "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                                    },
                                    "time_created": "2014-11-14T06:39:47-08:00",
                                    "enabled": "yes"
                                },
                                "access": {
                                    "id": 1,
                                    "label": "Logged in users"
                                },
                                "time_created": "2014-12-13T05:58:58-08:00",
                                "enabled": "yes",
                                "tags": [
                                    "tag 85",
                                    "tag 2"
                                ],
                                "status": "published",
                                "comments_on": "On",
                                "excerpt": ""
                            },
                            "access": {
                                "id": 1,
                                "label": "Logged in users"
                            },
                            "time_created": "2014-12-24T08:22:56-08:00",
                            "enabled": "yes",
                            "tags": [
                            ]
                        },
                        "target": {
                            "type": "object",
                            "subtype": "blog",
                            "uid": "oe859",
                            "title": "Blog 21",
                            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget aliquet mi. Sed pulvinar lectus vel suscipit faucibus. Mauris id metus augue. Ut faucibus lectus non mattis egestas. Nulla ullamcorper pulvinar purus, at faucibus quam porttitor sit amet. Donec consectetur, nulla eget fringilla dapibus, velit diam euismod enim, ut tincidunt lectus eros eget magna. Mauris laoreet risus dolor, in imperdiet dolor tincidunt et. Ut nulla nibh, condimentum in diam vel, volutpat accumsan justo. Proin interdum mattis ex quis consequat. Proin dignissim, dolor vel faucibus sagittis, diam tellus mattis felis, eget blandit dui arcu eu nisl. Mauris sodales iaculis lacinia. Nam rutrum nisi ante, a scelerisque nunc imperdiet a. Praesent rhoncus pretium malesuada. Proin id aliquam sem. Phasellus malesuada arcu justo, nec cursus lorem lacinia vel. Phasellus congue vestibulum justo, sed egestas orci malesuada a. Nam mollis nisl id ligula imperdiet, vitae mollis tellus aliquam. Donec venenatis, eros nec ullamcorper commodo, est lacus ornare dolor, eu congue massa quam eu nisl. Aliquam quis purus ac diam elementum bibendum. Vestibulum dolor enim, laoreet eget orci sed, venenatis aliquet leo. Donec eleifend diam eu odio placerat semper. Morbi a purus nisi. Sed sit amet placerat lacus. Pellentesque fermentum magna quis felis accumsan condimentum. Duis varius et velit ut elementum. Cras rhoncus volutpat rhoncus. Pellentesque porttitor, arcu vitae pharetra luctus, sapien elit rhoncus neque, eget mollis tellus lacus nec lacus. Donec imperdiet a quam quis pellentesque. Maecenas in viverra nisl. Pellentesque tempus elit sed justo ultrices commodo.<\/p>",
                            "url": "http:\/\/ambercal.dev\/blog\/view\/859\/blog-21",
                            "icon": {
                                "topbar": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/topbar.png",
                                "tiny": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/tiny.png",
                                "small": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/small.png",
                                "medium": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/medium.png",
                                "large": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/large.png",
                                "master": "http:\/\/ambercal.dev\/_graphics\/icons\/default\/master.png"
                            },
                            "owner": {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue58",
                                "name": "Devon Ratke",
                                "username": "rodriguez.adolphus",
                                "briefdescription": "Centralized full-range service-desk",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                                "icon": {
                                    "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                    "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                    "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                    "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                    "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                    "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                                },
                                "time_created": "2014-11-14T06:39:47-08:00",
                                "enabled": "yes"
                            },
                            "container": {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue58",
                                "name": "Devon Ratke",
                                "username": "rodriguez.adolphus",
                                "briefdescription": "Centralized full-range service-desk",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                                "icon": {
                                    "topbar": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                                    "tiny": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                                    "small": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                                    "medium": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                                    "large": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                                    "master": "http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                                },
                                "time_created": "2014-11-14T06:39:47-08:00",
                                "enabled": "yes"
                            },
                            "access": {
                                "id": 1,
                                "label": "Logged in users"
                            },
                            "time_created": "2014-12-13T05:58:58-08:00",
                            "enabled": "yes",
                            "tags": [
                                "tag 85",
                                "tag 2"
                            ],
                            "status": "published",
                            "comments_on": "On",
                            "excerpt": ""
                        },
                        "annotation": 0,
                        "access": {
                            "id": 1,
                            "label": "Logged in users"
                        },
                        "time_created": "2014-12-24T08:22:56-08:00",
                        "enabled": "yes"
                    }
                }
            }
        }



### Retrieve an activity [GET /{river_uid}]

Retrieve an activity (river) item by its *uid*

+ Parameters
    + river_uid:`rv724` (string, required) - UID of the river item

+ Response 200
    [Activity][]



### Delete an activity item [DELETE /{river_uid}]

Delete a single node by its *uid*. Only available to admin users.

+ Parameters
    + river_uid:`rv723` (string, required) - UID of the river item

+ Response 200
    [200][]



### Activity Feeds [/{uid}/activity]

### Add activity to site feed [POST /{site_uid}/activity{?action,view,subject_uid,object_uid,target_uid,annotation_uid}]

Adds a new activity (river) item to the site feed

+ Parameters

    + site_uid:`site` (string, required) - site UID or ``site``
    + action:`graph:test` (string, required) - Action type
    + view (string, optional) - Activity view
        + Default: `river/elements/layout`
    + subject_uid:`ue44` (string, required) - UID of the subject entity
    + object_uid:`oe788` (string, required) - UID of the object entity
    + target_uid (string, optional) - UID of the target entity
    + annotation_uid (string, optional) - UID of the annotation

+ Response 200
    [Activity][]



### Add activity to user feed [POST /{user_uid}/activity{?action,view,object_uid,target_uid,annotation_uid}]

Adds a new activity (river) item to the site feed

+ Parameters

    + user_uid:`me` (string, required) - User UID or ``me``
    + action:`graph:test` (string, required) - Action type
    + view (string, optional) - Activity view
        + Default: `river/elements/layout`
    + object_uid:`oe788` (string, required) - UID of the object entity
    + target_uid (string, optional) - UID of the target entity
    + annotation_uid (string, optional) - UID of the annotation

+ Response 200
    [Activity][]



### Retrieve site feed [GET /{site_uid}/activity{?fields,limit,offset,types,subtypes,action_types}]

Retrieve a list of site activities filtered by *type*, *subtype*, *action*

+ Parameters

    + site_uid:`site` (string, required) - Site UID, or ```site```
    + limit:`10` (number, optional) - number of activities to list
        + Default: `10`
    + offset:`0` (number, optional) - offset from the list start
    + types:`object` (array[string], optional) - constrain by entity types
    + subtypes:`blog` (array[string], optional) - constrain by entity subtypes
    + action_types:`create` (array[string], optional) - constrain by action types


+ Response 200
    [Activity][]



### Retrieve user feed [GET /{user_uid}/activity{?fields,limit,offset,types,subtypes,action_types}]

Retrieve a list of user activities filtered by *type*, *subtype*, *action*

+ Parameters

    + user_uid:`me` (string, required) - User UID, or ```me```
    + limit:`10` (number, optional) - number of activities to list
        + Default: `10`
    + offset:`0` (number, optional) - offset from the list start
    + types:`object` (array[string], optional) - constrain by entity types
    + subtypes:`blog` (array[string], optional) - constrain by entity subtypes
    + action_types:`create` (array[string], optional) - constrain by action types

+ Response 200
    [Activity][]





## Group Users



### User [/{user_uid}]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK"
            "result": {
                "total": 1,
                "limit": 0,
                "offset": 0,
                "nodes": {
                    "0": {
                        "type":"user",
                        "subtype":"",
                        "uid":"ue58",
                        "name":"Devon Ratke",
                        "username":"rodriguez.adolphus",
                        "briefdescription":"Centralized full-range service-desk",
                        "banned":false,
                        "validated":"1",
                        "admin":false,
                        "url":"http:\/\/ambercal.dev\/profile\/rodriguez.adolphus",
                        "icon":{
                            "topbar":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=topbar",
                            "tiny":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=tiny",
                            "small":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=small",
                            "medium":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=medium",
                            "large":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=large",
                            "master":"http:\/\/ambercal.dev\/mod\/profile\/icondirect.php?lastcache=1420624467&joindate=1415975987&guid=58&size=master"
                        },
                        "time_created":"2014-11-14T06:39:47-08:00",
                        "enabled":"yes"
                    }
                }
            }
        }



### Retrieve a user [GET /{user_uid}]

Retrieve a user node by its *uid*

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me``` keyword

+ Response 200
    [User][]



### Delete a user [DELETE /{user_uid}]

Delete a user node by its *uid*. **Note** users can not delete themselves.

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me``` keyword

+ Response 200
    [200][]


### User Collections [/{site_uid}/users]



### Register a new user on a site [POST /{site_uid}/users{?email,username,password,name,language,notify,friend_uid,invitecode}]

Register a new user. Email validation is required if uservalidationbyemail plugin is enabled.
To allow registration via Grpah if site registration is disabled, use ```'allow_registration','graph'``` hook.
To bypass email validation, use ```'validate_registration','graph'``` hook.
This endpoint will also call `PUT /{user_id}/profile` endpoint, thus you can pass additional profile data during registration.

+ Parameters
    + site_uid:`site` (string, required) - Site UID or ```site```
    + email (string, required) - Email address
    + username (string, optional) - Username, autogenerated if left empty
    + password (string, optional) - Password, autogenerated if left empty
    + name (string, optional) - Display name, autogenerated if left empty
    + language:`en` (string, optional) - Language code
        + Default: `en`
    + notify: `true` (bool, optional) - Send an email with user credentials
        + Defualt: `true`
    + friend_uid (string, optional) - UID of the user who issued the invitecode
    + invitecode (string, optional) - Invitation code generated by the inviting friend

+ Response 200
    [User][]



### List users [GET /{site_uid}/users?sort%5Balpha%5D=ASC{&limit,offset}]

Retrieve a list of site users

+ Parameters
    + site_uid:`site` (string, required) - Site UID or ```site```
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [User][]



### User Profile [/{user_uid}/profile]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK",
            "result": {
                "uid": "ue58",
                "name": "Esteban Kerluke IV",
                "username": "stephan43",
                "phone": "(782)067-7668x53487",
                "mobile": "1-048-697-3677",
                "website": "http://www.gutkowski.com/",
                "twitter": "@voluptatibus",
                "description": "Et nihil amet sequi aut inventore maxime. Maxime rerum consequatur soluta odio nam earum rerum ut. Id reiciendis aliquam sit et ut ab.",
                "briefdescription": "Optimized multi-state hardware",
                "location": "Gaetanofort, Guadeloupe",
                "interests": [
                    "qui",
                    "at",
                    "sit",
                    "soluta",
                    "qui",
                    "ut",
                    "vel",
                    "enim",
                    "earum"
                ],
                "skills": [
                    "eveniet",
                    "temporibus",
                    "veritatis",
                    "dolor",
                    "aut",
                    "tenetur",
                    "velit",
                    "tempora"
                ],
                "contactemail": "schuppe.myrtice@bogisich.biz",
                "custom_profile_type": null
            }
        }



### Retrieve user profile [GET /{user_uid}/profile]

Retrieve profile fields of a given user

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```

+ Response 200
    [User Profile][]



### Update user profile [PUT /{user_uid}/profile{?access_id}]

Update profile fields of a given user. The list of fields that can be updated via Graph vary depending on the
site configuration. Only fields in ```'profile_fields'``` Elgg config will be updated.

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + access_id (int, required) - ACL for the updated profile metadata

+ Response 200
    [User Profile][]



### User Friendships [/{user_uid}/friends]



### Add a friend [POST /{user_uid}/friends{?friend_uid}]

Add a user to friends list
Response will contain multiple nodes, include friend relationship node, inverse friend relationship, and river node.

+ Parameters

    + user_uid:`me` (string, required) - User UID or ```me```
    + friend_uid:`ue45` (string, required) - User UID to friend

+ Response 200
    [Relationship][]



### Remove a friend [DELETE /{user_uid}/friends{?friend_uid}]

Remove a user from a friends list
Response will contain multiple nodes, including friend relationship node and inverse friend relationship node

+ Parameters

    + user_uid:`me` (string, required) - User UID or ```me```
    + friend_uid:`ue45` (string, required) - User UID to friend

+ Response 200
    [Relationship][]



### List user's friends [GET /{user_uid}/friends?sort%5Balpha%5D=ASC{&limit,offset}]

List all users added as friends by user node

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [User][]




## Group Groups



### Group [/{group_uid}]

+ Model (application/json)

        {
            "status": 200,
            "message": "OK",
            "result": {
                "total": 1,
                "offset": 0,
                "limit": 0,
                "nodes": {
                    "0": {
                        "type": "group",
                        "subtype": "",
                        "uid": "ge7170",
                        "name": "Qui ex et tempore architecto et.",
                        "url": "https://hackathon.dev/groups/profile/7170/qui-ex-et-tempore-architecto-et",
                        "icon": {
                            "topbar": "https://hackathon.dev/groupicon/7170/topbar/1436194703.jpg",
                            "tiny": "https://hackathon.dev/groupicon/7170/tiny/1436194703.jpg",
                            "small": "https://hackathon.dev/groupicon/7170/small/1436194703.jpg",
                            "medium": "https://hackathon.dev/groupicon/7170/medium/1436194703.jpg",
                            "large": "https://hackathon.dev/groupicon/7170/large/1436194703.jpg",
                            "master": "https://hackathon.dev/groupicon/7170/master/1436194703.jpg"
                        },
                        "briefdescription": "envisioneer interactive systems",
                        "owner": {
                            "type": "user",
                            "subtype": "",
                            "uid": "ue53",
                            "name": "Dr. Chauncey Dach I",
                            "username": "ceasar.moen",
                            "briefdescription": "Profit-focused neutral ability",
                            "banned": false,
                            "validated": "1",
                            "admin": false,
                            "url": "https://hackathon.dev/profile/ceasar.moen",
                            "icon": {
                                "topbar": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=topbar",
                                "tiny": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=tiny",
                                "small": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=small",
                                "medium": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=medium",
                                "large": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=large",
                                "master": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=master"
                            },
                            "time_created": "2015-06-27T05:39:37-07:00",
                            "enabled": "yes"
                        },
                        "container": {
                            "type": "user",
                            "subtype": "",
                            "uid": "ue53",
                            "name": "Dr. Chauncey Dach I",
                            "username": "ceasar.moen",
                            "briefdescription": "Profit-focused neutral ability",
                            "banned": false,
                            "validated": "1",
                            "admin": false,
                            "url": "https://hackathon.dev/profile/ceasar.moen",
                            "icon": {
                                "topbar": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=topbar",
                                "tiny": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=tiny",
                                "small": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=small",
                                "medium": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=medium",
                                "large": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=large",
                                "master": "https://hackathon.dev/mod/profile/icondirect.php?lastcache=1435408780&joindate=1435408777&guid=53&size=master"
                            },
                            "time_created": "2015-06-27T05:39:37-07:00",
                            "enabled": "yes"
                        },
                        "content_access_mode": {
                            "id": "unrestricted",
                            "label": "Unrestricted - Access depends on content-level settings"
                        },
                        "membership": {
                            "id": 2,
                            "label": "Open - Any user may join"
                        },
                        "access": {
                            "id": 1024,
                            "label": "Group: Qui ex et tempore architecto et."
                        },
                        "group_acl": {
                            "id": 1024,
                            "label": "Group: Qui ex et tempore architecto et."
                        },
                        "time_created": "2015-07-06T07:58:22-07:00",
                        "enabled": "yes"
                    }
                }
            }
        }



### Retrieve a group [GET /{group_uid}]

Retrieve a single group node by its *uid*

+ Parameters
    + group_uid:`ge101` (string, required) - Group UID

+ Response 200
    [Group][]



### Edit a group [PUT /{group_uid}{?name,membership,vis,content_access_mode,description}]

Edit a group node by its *uid*
List of parameters is incomplete, as it may vary depending on your configuration.

+ Parameters
    + group_uid:`ge101` (string, required) - Group UID
    + name (string, optional) - Group name
    + description (string, optional) - Group description
    + membership (int, optional) - Group membership permission level
    + vis (int, optional) - Group visibility ACL
    + content_access_mode (enum[string], optional) - content access mode
        + Members
            + `unrestricted`
            + `members only`

+ Response 200
    [Group][]



### Delete a group [DELETE /{group_uid}]

Delete a group node by its *uid*.

+ Parameters
    + group_uid:`ge101` (string, required) - Group UID

+ Response 200
    [User][]



### Group Collections [/{container_uid}/groups]


### Create a group [POST /{target_uid}/groups{?name,membership,vis,content_access_mode,description}]

Create a new group
List of parameters is incomplete, as it may vary depending on your configuration.

+ Parameters
    + target:`site` (string, required) - Site or user UID
    + name (string, required) - Group name
    + description (string, optional) - Group description
    + membership (int, optional) - Group membership permission level
    + vis (int, optional) - Group visibility ACL
    + content_access_mode (enum[string], optional) - content access mode
        + Members
            + `unrestricted`
            + `members only`

+ Response 200
    [Group][]



### List site groups [GET /{site_uid}/groups?sort%5Balpha%5D=ASC{&limit,offset}]

List all groups on the site

+ Parameters
    + site_uid:`site` (string, required) - Site UID or ```site```
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [Group][]



### List owned groups [GET /{user_uid}/groups?sort%5Balpha%5D=ASC{&limit,offset}]

List all groups owned by the user

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [Group][]




### List user's group membership [GET /{user_uid}/groups/membership?sort%5Balpha%5D=ASC{&limit,offset}]

List all groups a user is a member of

+ Parameters
    + user_uid:`me` (string, required) - User UID or ```me```
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [Group][]



### Membership [/{group_uid}/members]



### Retrieve group members [GET /{group_uid}/members?sort%5Balpha%5D=ASC{&limit,offset}]

List all users added as friends by user node

+ Parameters
    + group_uid:`ge101` (string, required) - Group UID
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC

+ Response 200
    [User][]



### Add group member [POST /{group_uid}/members]

Adds user as a member of a group (or creates a membership request for closed group).
Returns multiple relationship nodes for `member`,`invited`,`membership_request` relationship types

+ Parameters
    + group_uid:`ge101` (string, required) - Group UID

+ Response 200
    [Relationship][]



### Revoke membership [DELETE /{group_uid}/members{?relationship}]

Revokes membership in a group (or deletes membership request or revokes invitation).
Returns multiple relationship nodes for `member`,`invited`,`membership_request` relationship types

+ Parameters
    + relationship:`member` (enum[string], required) - Type of relationship to revoke
        + Members
            + `member`
            + `invited`
            + `membership_request`

+ Response 200
    [Relationship][]





## Group Blogs



### Blog Object [/{blog_uid}]

+ Model (application/json)

        {
          "result": {
            "nodes": {
              "0": {
                "type": "object",
                "subtype": "blog",
                "uid": "oe313",
                "title": "Ut commodi deleniti pariatur sit.",
                "description": "Voluptatem beatae dolor ex quibusdam ad. Dolore molestiae laboriosam repellendus earum est aliquid. Facilis id fugit quidem dolorum.\nQuasi id perferendis provident voluptates ut temporibus. Distinctio vitae reprehenderit qui porro. Est repudiandae autem assumenda cumque omnis maxime odit. Molestiae nobis ea minima iusto ducimus.",
                "url": "http://graph.hypejunction.com/blog/view/313/ut-commodi-deleniti-pariatur-sit",
                "icon": {
                  "topbar": "http://graph.hypejunction.com/_graphics/icons/default/topbar.png",
                  "tiny": "http://graph.hypejunction.com/_graphics/icons/default/tiny.png",
                  "small": "http://graph.hypejunction.com/_graphics/icons/default/small.png",
                  "medium": "http://graph.hypejunction.com/_graphics/icons/default/medium.png",
                  "large": "http://graph.hypejunction.com/_graphics/icons/default/large.png",
                  "master": "http://graph.hypejunction.com/_graphics/icons/default/master.png"
                },
                "owner": {
                  "type": "user",
                  "subtype": "",
                  "uid": "ue68",
                  "name": "Juana Hudson DDS",
                  "username": "caitlyn94",
                  "briefdescription": "Multi-lateral clear-thinking flexibility",
                  "banned": false,
                  "validated": "1",
                  "admin": false,
                  "url": "http://graph.hypejunction.com/profile/caitlyn94",
                  "icon": {
                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=topbar",
                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=tiny",
                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=small",
                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=medium",
                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=large",
                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=master"
                  },
                  "time_created": "2015-07-20T22:39:32+02:00",
                  "enabled": "yes"
                },
                "container": {
                  "type": "group",
                  "subtype": "",
                  "uid": "ge105",
                  "name": "Perspiciatis maxime doloremque qui dolor quidem quasi.",
                  "url": "http://graph.hypejunction.com/groups/profile/105/perspiciatis-maxime-doloremque-qui-dolor-quidem-quasi",
                  "icon": {
                    "topbar": "http://graph.hypejunction.com/groupicon/105/topbar/1437424979.jpg",
                    "tiny": "http://graph.hypejunction.com/groupicon/105/tiny/1437424979.jpg",
                    "small": "http://graph.hypejunction.com/groupicon/105/small/1437424979.jpg",
                    "medium": "http://graph.hypejunction.com/groupicon/105/medium/1437424979.jpg",
                    "large": "http://graph.hypejunction.com/groupicon/105/large/1437424979.jpg",
                    "master": "http://graph.hypejunction.com/groupicon/105/master/1437424979.jpg"
                  },
                  "briefdescription": "transform strategic infrastructures",
                  "owner": {
                    "type": "user",
                    "subtype": "",
                    "uid": "ue68",
                    "name": "Juana Hudson DDS",
                    "username": "caitlyn94",
                    "briefdescription": "Multi-lateral clear-thinking flexibility",
                    "banned": false,
                    "validated": "1",
                    "admin": false,
                    "url": "http://graph.hypejunction.com/profile/caitlyn94",
                    "icon": {
                      "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=topbar",
                      "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=tiny",
                      "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=small",
                      "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=medium",
                      "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=large",
                      "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=master"
                    },
                    "time_created": "2015-07-20T22:39:32+02:00",
                    "enabled": "yes"
                  },
                  "container": {
                    "type": "user",
                    "subtype": "",
                    "uid": "ue68",
                    "name": "Juana Hudson DDS",
                    "username": "caitlyn94",
                    "briefdescription": "Multi-lateral clear-thinking flexibility",
                    "banned": false,
                    "validated": "1",
                    "admin": false,
                    "url": "http://graph.hypejunction.com/profile/caitlyn94",
                    "icon": {
                      "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=topbar",
                      "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=tiny",
                      "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=small",
                      "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=medium",
                      "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=large",
                      "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=master"
                    },
                    "time_created": "2015-07-20T22:39:32+02:00",
                    "enabled": "yes"
                  },
                  "content_access_mode": {
                    "id": "unrestricted",
                    "label": "Unrestricted - Access depends on content-level settings"
                  },
                  "membership": {
                    "id": 2,
                    "label": "Open - Any user may join"
                  },
                  "access": {
                    "id": 1,
                    "label": "Logged in users"
                  },
                  "group_acl": {
                    "id": 77,
                    "label": "Limited"
                  },
                  "time_created": "2015-07-20T22:42:58+02:00",
                  "enabled": "yes"
                },
                "access": {
                  "id": 1,
                  "label": "Logged in users"
                },
                "time_created": "2015-07-20T22:45:52+02:00",
                "enabled": "yes",
                "tags": [
                  "placeat",
                  "est",
                  "quae",
                  "sint",
                  "accusantium"
                ],
                "status": "published",
                "comments_on": null,
                "excerpt": "Officia veniam et sequi sequi quia cum adipisci facere accusantium nisi voluptatum."
              }
            },
            "total": 1,
            "offset": 0,
            "limit": 0
          },
          "status": 200,
          "message": "OK"
        }



### Retrieve a blog [GET /{blog_uid}]

Retrieve a single blog post by its *uid*

+ Parameters
    + blog_uid:`oe313` (string, required) - Blog UID

+ Response 200
    [Blog Object][]



### Edit a blog post [PUT /{blog_uid}{?title,description,excerpt,status,comments_on,tags,access_id}]

Updates a blog post

+ Parameters
    + blog_uid:`oe313` (string, required) - Blog UID
    + title (string, optional) - Blog title
    + description (string, optional) - Blog body
    + excerpt (string, optional) - Summary
    + status (enum[string], optional) - Status
        + Members
            + `draft` - Draft
            + `published` - Published

    + comments_on (enum[string], optional) - Enable comments
        + Members
            + `On` - Enable
            + `Off` - Disable

    + tags (string, optional) - Tags
    + access_id (int, optional) - ACL id

+ Response 200
    [Blog Object][]



### Delete a blog [DELETE /{blog_uid}]

Delete a blog post

+ Parameters
    + blog_uid:`oe313` (string, required) - Blog UID

+ Response 200
    [200][]



### Blog Collections [/{target_uid}/blogs]



### Create a blog post [POST /{target_uid}/blogs{?title,description,excerpt,status,comments_on,tags,access_id}]

Publish a blog post

+ Parameters
    + target_uid:`me` (string, required) - User or group UID
    + title (string, required) - Blog title
    + description (string, required) - Blog body
    + excerpt (string, required) - Summary
    + status:`published` (enum[string], optional) - Status
        + Default: `published`
        + Members
            + `draft` - Draft
            + `published` - Published

    + comments_on:`On` (enum[string], optional) - Enable comments
        + Default: `On`
        + Members
            + `On` - Enable
            + `Off` - Disable

    + tags (string, optional) - Tags
    + access_id (int, optional) - ACL id

+ Response 200
    [Blog Object][]




### List blogs [GET /{target_uid}/blogs]

List all site, user or group blogs

+ Parameters
    + target_uid:`me` (string, required) - Site, user or group UID

+ Response 200
    [Blog Object][]





## Group Files



### File Object [/{file_uid}]

+ Model (application/json)

        {
            "result": {
                "nodes": {
                    "0": {
                        "type": "object",
                        "subtype": "file",
                        "uid": "oe788",
                        "title": "Blanditiis ad vel sunt nulla et.",
                        "description": "Maiores quam neque voluptas harum modi reprehenderit. Sit ullam et reprehenderit possimus occaecati eligendi ut. Quas labore autem et fuga.\nVitae vel repudiandae commodi rerum sapiente. Laborum rerum perspiciatis consequatur dicta. Ad porro voluptatibus tenetur non.\nOfficia nostrum tempore dolore a. Id ullam id ipsum repudiandae. Et et quaerat amet quo quo voluptate. Delectus est dolores dolores non est.\nQuos sit earum iure velit. Aut enim eveniet qui rem sint. Eum ut suscipit ea corrupti.",
                        "url": "http://graph.hypejunction.com/file/view/788/blanditiis-ad-vel-sunt-nulla-et",
                        "icon": {
                            "topbar": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=topbar&icontime=1437425667",
                            "tiny": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=tiny&icontime=1437425667",
                            "small": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=small&icontime=1437425667",
                            "medium": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=medium&icontime=1437425667",
                            "large": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=large&icontime=1437425667",
                            "master": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=788&size=master&icontime=1437425667"
                        },
                        "owner": {
                            "type": "user",
                            "subtype": "",
                            "uid": "ue51",
                            "name": "Demetris O'Hara",
                            "username": "susanna.stiedemann",
                            "briefdescription": "Synergistic directional application",
                            "banned": false,
                            "validated": "1",
                            "admin": false,
                            "url": "http://graph.hypejunction.com/profile/susanna.stiedemann",
                            "icon": {
                                "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=topbar",
                                "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=tiny",
                                "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=small",
                                "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=medium",
                                "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=large",
                                "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=master"
                            },
                            "time_created": "2015-07-20T22:39:30+02:00",
                            "enabled": "yes"
                        },
                        "container": {
                            "type": "group",
                            "subtype": "",
                            "uid": "ge101",
                            "name": "Maxime aut nihil nihil aliquam cupiditate sit.",
                            "url": "http://graph.hypejunction.com/groups/profile/101/maxime-aut-nihil-nihil-aliquam-cupiditate-sit",
                            "icon": {
                                "topbar": "http://graph.hypejunction.com/groupicon/101/topbar/1437424975.jpg",
                                "tiny": "http://graph.hypejunction.com/groupicon/101/tiny/1437424975.jpg",
                                "small": "http://graph.hypejunction.com/groupicon/101/small/1437424975.jpg",
                                "medium": "http://graph.hypejunction.com/groupicon/101/medium/1437424975.jpg",
                                "large": "http://graph.hypejunction.com/groupicon/101/large/1437424975.jpg",
                                "master": "http://graph.hypejunction.com/groupicon/101/master/1437424975.jpg"
                            },
                            "briefdescription": "reintermediate B2C vortals",
                            "owner": {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue68",
                                "name": "Juana Hudson DDS",
                                "username": "caitlyn94",
                                "briefdescription": "Multi-lateral clear-thinking flexibility",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http://graph.hypejunction.com/profile/caitlyn94",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=topbar",
                                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=tiny",
                                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=small",
                                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=medium",
                                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=large",
                                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=master"
                                },
                                "time_created": "2015-07-20T22:39:32+02:00",
                                "enabled": "yes"
                            },
                            "container": {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue68",
                                "name": "Juana Hudson DDS",
                                "username": "caitlyn94",
                                "briefdescription": "Multi-lateral clear-thinking flexibility",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http://graph.hypejunction.com/profile/caitlyn94",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=topbar",
                                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=tiny",
                                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=small",
                                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=medium",
                                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=large",
                                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424793&joindate=1437424772&guid=68&size=master"
                                },
                                "time_created": "2015-07-20T22:39:32+02:00",
                                "enabled": "yes"
                            },
                            "content_access_mode": {
                                "id": "unrestricted",
                                "label": "Unrestricted - Access depends on content-level settings"
                            },
                            "membership": {
                                "id": 0,
                                "label": "Closed - Users must be invited"
                            },
                            "access": {
                                "id": 1,
                                "label": "Logged in users"
                            },
                            "group_acl": {
                                "id": 73,
                                "label": "Limited"
                            },
                            "time_created": "2015-07-20T22:42:54+02:00",
                            "enabled": "yes"
                        },
                        "access": {
                            "id": 1,
                            "label": "Logged in users"
                        },
                        "time_created": "2015-07-20T22:54:26+02:00",
                        "enabled": "yes",
                        "tags": [
                            "beatae",
                            "veniam",
                            "est",
                            "rerum",
                            "qui"
                        ],
                        "simpletype": "image",
                        "mimetype": "image/jpeg",
                        "originalfilename": "cupiditate_quod_mollitia.jpg",
                        "origin": null
                    }
                },
                "total": 1,
                "offset": 0,
                "limit": 0
            },
            "status": 200,
            "message": "OK"
        }



### Retrieve a file [GET /{file_uid}]

Retrieve a single file by its *uid*

+ Parameters
    + file_uid:`oe788` (string, required) - File UID

+ Response 200
    [File Object][]



### Downaload a file [GET /{file_uid}?raw=true]

Retrieve raw file contents

+ Parameters
    + file_uid:`oe788` (string, required) - File UID
    + raw:`true` - (bool, optional) - If set to true, the response will contain a raw file with appropriate content-type headers. This can be used to download the file.

+ Response 200 (application/otcet-stream)



### Edit a file [PUT /{file_uid}{?title,description,tags,access_id,filename,contents,mimetype,checksum}]

Updates a file

+ Parameters
    + file_uid:`oe788` (string, required) - File UID
    + title (string, optional) - Title
    + description (string, optional) - Description
    + tags (string, optional) - Tags
    + access_id (int, optional) - ACL id
    + filename (string, optional) - Filename
    + contents (string, optional) - File contents as base64 encoded string
    + mimetype:`image/jpeg` (string, optional) - Mime-type of the file
    + checksum (string, optional) - MD5 checksum of the original file (used to verify file integrity after decoding)

+ Response 200
    [File Object][]



### Delete a file [DELETE /{file_uid}]

Delete a file

+ Parameters
    + file_uid:`oe788` (string, required) - File UID

+ Response 200
    [200][]



### File Collections [/{target_uid}/files]



### Upload a file [POST /{target_uid}/files{?title,description,tags,access_id,filename,contents,mimetype,checksum}]

Publish a blog post

+ Parameters
    + target_uid:`me` (string, required) - User or group or site UID
    + title (string, optional) - Title
    + description (string, optional) - Description
    + tags (string, optional) - Tags
    + access_id (int, optional) - ACL id
    + filename (string, required) - Filename
    + contents (string, required) - File contents as base64 encoded string
    + mimetype (string, required) - Mime-type of the file
    + checksum (string, required) - MD5 checksum of the original file (used to verify file integrity after decoding)

+ Response 200
    [File Object][]



### List files [GET /{target_uid}/files?sort%5Btime_created%5D=DESC{&limit,offset,simpletype}]

List all site, user or group files

+ Parameters
    + target_uid:`me` (string, required) - Site, user or group UID
    + limit:`10` (int, optional) - Number of nodes to return
    + offset:`0` (int, optional) - Offset from the start
    + sort (array, optional) - Sorting options, an array of field => direction pairs. Defaults to time_created => DESC
    + simpletype - (string, optional) - Simpletype (image, document etc)

+ Response 200
    [File Object][]




## Group Private Messages



### Private Message Object [/{pm_uid}]

+ Model (application/json)

        {
            "result": {
                "nodes": {
                    "0": {
                        "type": "object",
                        "subtype": "messages",
                        "uid": "oe804",
                        "title": "hypeInbox Group Message",
                        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque orci, sollicitudin quis consectetur eget, faucibus a velit. Praesent iaculis risus lobortis felis accumsan, sed sagittis arcu convallis. Aliquam fermentum, enim vitae vestibulum porta, orci metus commodo felis, sed interdum justo sapien sed augue. In porta efficitur volutpat. Mauris quis efficitur nulla, ut venenatis mi. Aliquam volutpat bibendum sapien in maximus. In aliquet scelerisque mauris in maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras lacinia neque a urna tristique, eu aliquam mauris rhoncus.\r\n\r\nInteger sed tellus neque. Vestibulum accumsan rutrum dui, sit amet ultrices velit dictum eget. Nam eu mollis felis. Proin vitae urna erat. Nulla pretium tellus non ipsum imperdiet vestibulum eget sed ante. Aliquam sodales aliquam mollis. Proin in vulputate purus, nec mollis nulla. Pellentesque quis justo pulvinar, posuere mi et, tempus tortor. Aenean id consequat dui. Sed fermentum tincidunt diam, ut dictum enim posuere ac. Phasellus eu lorem bibendum magna maximus consectetur. Vivamus dolor sem, tristique sit amet vestibulum quis, porttitor et nulla. Phasellus nunc tortor, iaculis at mattis ac, sodales a nunc. Nulla facilisi. Integer ut eros eget tellus bibendum ultricies quis et lectus.\r\n\r\nNulla aliquet lectus non magna lobortis, quis tempus eros elementum. Integer venenatis a est vitae venenatis. Donec vulputate libero a dolor molestie, vel egestas odio dignissim. Pellentesque felis nulla, vulputate sed rutrum bibendum, feugiat ut felis. Praesent lacinia, neque non tincidunt cursus, massa risus accumsan diam, vitae facilisis sem elit sed dolor. Nam scelerisque pretium pulvinar. Vivamus dignissim leo et ipsum commodo, non lobortis metus auctor. Proin suscipit tortor quis aliquam aliquet.\r\n\r\nSuspendisse viverra, nibh et maximus accumsan, turpis augue tincidunt elit, ornare feugiat leo mauris eget magna. Ut nunc sapien, posuere eu ante sed, mattis pulvinar orci. Phasellus tempor tortor lacus. Nulla facilisi. Nullam fringilla velit vel dolor maximus, ut posuere mi mattis. Curabitur auctor velit in malesuada ullamcorper. Nunc dictum ac ante non molestie. Pellentesque sed libero eu justo auctor dictum. Ut dignissim pharetra eros. Pellentesque et leo vitae quam viverra varius. Nulla sagittis sagittis dolor non elementum. Pellentesque et luctus diam.",
                        "url": "http://graph.hypejunction.com/messages/read/804/hypeinbox-group-message#elgg-object-804",
                        "access": {
                            "id": 0,
                            "label": "Private"
                        },
                        "time_created": "2015-07-22T13:48:57+02:00",
                        "enabled": "yes",
                        "status": "read",
                        "sender": {
                            "type": "user",
                            "subtype": "",
                            "uid": "ue44",
                            "name": "API User 1",
                            "username": "api.user.1",
                            "briefdescription": null,
                            "banned": false,
                            "validated": null,
                            "admin": false,
                            "url": "http://graph.hypejunction.com/profile/api.user.1",
                            "icon": {
                                "topbar": "http://graph.hypejunction.com/_graphics/icons/user/defaulttopbar.gif",
                                "tiny": "http://graph.hypejunction.com/_graphics/icons/user/defaulttiny.gif",
                                "small": "http://graph.hypejunction.com/_graphics/icons/user/defaultsmall.gif",
                                "medium": "http://graph.hypejunction.com/_graphics/icons/user/defaultmedium.gif",
                                "large": "http://graph.hypejunction.com/_graphics/icons/user/defaultlarge.gif",
                                "master": "http://graph.hypejunction.com/_graphics/icons/user/defaultmaster.gif"
                            },
                            "time_created": "2015-07-20T22:18:47+02:00",
                            "enabled": "yes"
                        },
                        "recipients": [
                            {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue51",
                                "name": "Demetris O'Hara",
                                "username": "susanna.stiedemann",
                                "briefdescription": "Synergistic directional application",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http://graph.hypejunction.com/profile/susanna.stiedemann",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=topbar",
                                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=tiny",
                                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=small",
                                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=medium",
                                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=large",
                                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424774&joindate=1437424770&guid=51&size=master"
                                },
                                "time_created": "2015-07-20T22:39:30+02:00",
                                "enabled": "yes"
                            },
                            {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue60",
                                "name": "Braulio Ratke",
                                "username": "wdicki",
                                "briefdescription": "Balanced 4thgeneration hierarchy",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http://graph.hypejunction.com/profile/wdicki",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=topbar",
                                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=tiny",
                                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=small",
                                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=medium",
                                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=large",
                                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424785&joindate=1437424771&guid=60&size=master"
                                },
                                "time_created": "2015-07-20T22:39:31+02:00",
                                "enabled": "yes"
                            },
                            {
                                "type": "user",
                                "subtype": "",
                                "uid": "ue65",
                                "name": "Alfonzo Hackett",
                                "username": "huels.pablo",
                                "briefdescription": "Integrated 24hour emulation",
                                "banned": false,
                                "validated": "1",
                                "admin": false,
                                "url": "http://graph.hypejunction.com/profile/huels.pablo",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=topbar",
                                    "tiny": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=tiny",
                                    "small": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=small",
                                    "medium": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=medium",
                                    "large": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=large",
                                    "master": "http://graph.hypejunction.com/mod/profile/icondirect.php?lastcache=1437424790&joindate=1437424771&guid=65&size=master"
                                },
                                "time_created": "2015-07-20T22:39:31+02:00",
                                "enabled": "yes"
                            }
                        ],
                        "thread_id": "50cea9ffe35116f57d4589b65aedb30353ced393",
                        "message_type": "__private",
                        "attachments": [
                            {
                                "type": "object",
                                "subtype": "file",
                                "uid": "oe803",
                                "title": "file000615586116.jpg",
                                "description": null,
                                "url": "http://graph.hypejunction.com/file/view/803/file000615586116jpg",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=topbar&icontime=1437565733",
                                    "tiny": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=tiny&icontime=1437565733",
                                    "small": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=small&icontime=1437565733",
                                    "medium": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=medium&icontime=1437565733",
                                    "large": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=large&icontime=1437565733",
                                    "master": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=803&size=master&icontime=1437565733"
                                },
                                "owner": {
                                    "type": "user",
                                    "subtype": "",
                                    "uid": "ue44",
                                    "name": "API User 1",
                                    "username": "api.user.1",
                                    "briefdescription": null,
                                    "banned": false,
                                    "validated": null,
                                    "admin": false,
                                    "url": "http://graph.hypejunction.com/profile/api.user.1",
                                    "icon": {
                                        "topbar": "http://graph.hypejunction.com/_graphics/icons/user/defaulttopbar.gif",
                                        "tiny": "http://graph.hypejunction.com/_graphics/icons/user/defaulttiny.gif",
                                        "small": "http://graph.hypejunction.com/_graphics/icons/user/defaultsmall.gif",
                                        "medium": "http://graph.hypejunction.com/_graphics/icons/user/defaultmedium.gif",
                                        "large": "http://graph.hypejunction.com/_graphics/icons/user/defaultlarge.gif",
                                        "master": "http://graph.hypejunction.com/_graphics/icons/user/defaultmaster.gif"
                                    },
                                    "time_created": "2015-07-20T22:18:47+02:00",
                                    "enabled": "yes"
                                },
                                "container": {
                                    "type": "user",
                                    "subtype": "",
                                    "uid": "ue44",
                                    "name": "API User 1",
                                    "username": "api.user.1",
                                    "briefdescription": null,
                                    "banned": false,
                                    "validated": null,
                                    "admin": false,
                                    "url": "http://graph.hypejunction.com/profile/api.user.1",
                                    "icon": {
                                        "topbar": "http://graph.hypejunction.com/_graphics/icons/user/defaulttopbar.gif",
                                        "tiny": "http://graph.hypejunction.com/_graphics/icons/user/defaulttiny.gif",
                                        "small": "http://graph.hypejunction.com/_graphics/icons/user/defaultsmall.gif",
                                        "medium": "http://graph.hypejunction.com/_graphics/icons/user/defaultmedium.gif",
                                        "large": "http://graph.hypejunction.com/_graphics/icons/user/defaultlarge.gif",
                                        "master": "http://graph.hypejunction.com/_graphics/icons/user/defaultmaster.gif"
                                    },
                                    "time_created": "2015-07-20T22:18:47+02:00",
                                    "enabled": "yes"
                                },
                                "access": {
                                    "id": 101,
                                    "label": "Limited"
                                },
                                "time_created": "2015-07-22T13:48:51+02:00",
                                "enabled": "yes",
                                "tags": [],
                                "simpletype": "image",
                                "mimetype": "image/jpeg",
                                "originalfilename": "file000615586116.jpg",
                                "origin": "messages"
                            },
                            {
                                "type": "object",
                                "subtype": "file",
                                "uid": "oe802",
                                "title": "file000325161223.jpg",
                                "description": null,
                                "url": "http://graph.hypejunction.com/file/view/802/file000325161223jpg",
                                "icon": {
                                    "topbar": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=topbar&icontime=1437565710",
                                    "tiny": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=tiny&icontime=1437565710",
                                    "small": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=small&icontime=1437565710",
                                    "medium": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=medium&icontime=1437565710",
                                    "large": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=large&icontime=1437565710",
                                    "master": "http://graph.hypejunction.com/mod/file/thumbnail.php?file_guid=802&size=master&icontime=1437565710"
                                },
                                "owner": {
                                    "type": "user",
                                    "subtype": "",
                                    "uid": "ue44",
                                    "name": "API User 1",
                                    "username": "api.user.1",
                                    "briefdescription": null,
                                    "banned": false,
                                    "validated": null,
                                    "admin": false,
                                    "url": "http://graph.hypejunction.com/profile/api.user.1",
                                    "icon": {
                                        "topbar": "http://graph.hypejunction.com/_graphics/icons/user/defaulttopbar.gif",
                                        "tiny": "http://graph.hypejunction.com/_graphics/icons/user/defaulttiny.gif",
[...]
